# =============================================================
#  基础配置
# =============================================================
HOST=127.0.0.1
PORT=9090
DRIVER=~fastapi+~httpx+~websockets
# 提供的访问令牌将用于访问 API 接口或 WebSocket 双向鉴权
ONEBOT_ACCESS_TOKEN=your_access_token
# LOG_LEVEL=DEBUG

# 命令消息的起始符和分隔符。用于 command 响应器的规则。
COMMAND_START=["/","","#"]
COMMAND_SEP=["."]

# 机器人昵称，通常协议适配器会根据用户是否 @bot 或者是否以机器人昵称开头来判断是否是向机器人发送的消息。
NICKNAME=["凌辉"]
SUPERUSERS=["QQ号1","QQ号2"]# 最高权限用户
SENSITIVEADMIN=["QQ号1","QQ号2"]# 敏感词管理员

# =============================================================
#  官方插件配置
# =============================================================
#  nonebot_plugin_mc_server_status 的配置
MC_STATUS_ADMIN_QQNUM=[QQ号1,QQ号2]

# nonebot_plugin_orm 的配置
SQLALCHEMY_DATABASE_URL=sqlite+aiosqlite:///linghui.db

# nonebot_plugin_localstore 的配置
LOCALSTORE_USE_CWD=True

# nonebot_plugin_multincm 的配置
NCM_AUTO_RESOLVE=True
NCM_SEND_MEDIA=True
NCM_ANONYMOUS=True
NCM_CARD_SIGN_URL=https://llob.linyuchen.net/sign/music
# NCM_ILLEGAL_CMD_FINISH=True

# nonebot_plugin_htmlrender 的配置
# HTMLRENDER_BROWSER_CHANNEL="chrome"

# =============================================================
#  自定义插件配置
# =============================================================
#  Furry 插件配置
FURRY_TOKEN="your_furry_token"
FURRY_USER="your_furry_username"
FURRY_PASSWORD="your_furry_password"
FURRY_AIKEY="Bearer your_ai_api_key"
FURRY_SPECIAL_EVENTS=["hifurry","极兽聚","兽行迹"]
FURRY_AI_BASEURL="your_baseurl"
# 注意：此处应填写一个可以返回模型列表的URL
FURRY_AI_MODELLIST="your_url"
FURRY_SEE_FURRY="your_url"

# 天气查询插件配置->目前仅适配和风天气的API
# 注意：使用时务必前往和风天气API进行注册和新建应用以获取相应的 API Key 和 Project ID。本Bot采用JWT验证方式，请按照和风天气官方的教程创建JWT密钥对，并将生成的公钥上传至和风天气平台，私钥保存在本地并在下方配置中指定路径。
WEATHER_API_KEY="your_key"      # 这里填入和风天气要求的JWT密钥对中的私钥内容，通常是一个PEM格式的字符串
WEATHER_PROJECT_ID="your_project_id"   # 这里填入和风天气的项目ID
WEATHER_JWT_ID="your_jwt_id"     # 这里填入和风天气JWT令牌的ID
WEATHER_EXPIRED_TIME="30"     # JWT令牌的过期时间，单位为秒。根据和风天气API的要求设置，通常建议设置为较短的时间以增强安全性。
WEATHER_API_BASEURL="https://p76r6wwy6n.re.qweatherapi.com/"  # 和风天气API的基础URL，根据需要可以更改为其他天气相关的API端点

#  GitHub 集成配置
GITHUB_TOKEN="your_github_personal_access_token"
GITHUB_REPO="your_github_username/your_repo_name"