# =============================================================
#  基础配置
# =============================================================
HOST=127.0.0.1
PORT=9090
DRIVER=~fastapi+~httpx+~websockets
# 提供的访问令牌将用于访问 API 接口或 WebSocket 双向鉴权
ONEBOT_ACCESS_TOKEN=your_access_token
# LOG_LEVEL=DEBUG

# 命令消息的起始符和分隔符。用于 command 响应器的规则。
COMMAND_START=["/","","#"]
COMMAND_SEP=["."]

# 机器人昵称，通常协议适配器会根据用户是否 @bot 或者是否以机器人昵称开头来判断是否是向机器人发送的消息。
NICKNAME=["凌辉"]
SUPERUSERS=["QQ号1","QQ号2"]# 最高权限用户
SENSITIVEADMIN=["QQ号1","QQ号2"]# 敏感词管理员

# =============================================================
#  官方插件配置
# =============================================================
#  nonebot_plugin_mc_server_status 的配置
MC_STATUS_ADMIN_QQNUM=[QQ号1,QQ号2]

# nonebot_plugin_orm 的配置
SQLALCHEMY_DATABASE_URL=sqlite+aiosqlite:///linghui.db

# nonebot_plugin_localstore 的配置
LOCALSTORE_USE_CWD=True

# nonebot_plugin_multincm 的配置
NCM_AUTO_RESOLVE=True
NCM_SEND_MEDIA=True
NCM_ANONYMOUS=True
NCM_CARD_SIGN_URL=https://llob.linyuchen.net/sign/music
# NCM_ILLEGAL_CMD_FINISH=True

# nonebot_plugin_htmlrender 的配置
# HTMLRENDER_BROWSER_CHANNEL="chrome"

# =============================================================
#  自定义插件配置
# =============================================================
#  Furry 插件配置
FURRY_TOKEN="your_furry_token"
FURRY_USER="your_furry_username"
FURRY_PASSWORD="your_furry_password"
FURRY_AIKEY="Bearer your_ai_api_key"
FURRY_SPECIAL_EVENTS=["hifurry","极兽聚","兽行迹"]
FURRY_AI_BASEURL="your_baseurl"
# 注意：此处应填写一个可以返回模型列表的URL
FURRY_AI_MODELLIST="your_url"
FURRY_SEE_FURRY="your_url"
#  GitHub 集成配置
GITHUB_TOKEN="your_github_personal_access_token"
GITHUB_REPO="your_github_username/your_repo_name"